@import "../../layout/layoutResponsive.module.scss";

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;


  .filterHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;

    h1 {
      font-weight: 300;
      font-size: 24px;

      b {
        font-weight: 600;
      }
    }

    .reset {
      all: unset;
      cursor: pointer;
      color: white;
      padding: 5px;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1rem;
      background-color: black;

      @include md {
        background-color: white;
      }



      span {
        display: flex;

        @include md {
          display: none;
        }
      }


      img {
        display: none;

        @include md {
          display: flex;
        }

        width: 2rem;
      }
    }

    button {
      padding: 5px;

      &:hover {
        cursor: pointer;
      }

    }

  }



  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-size: 10px;
    }

    input,
    select {
      width: 100px;
      padding: 10px;
      border: 1px solid var(--gray-primary);
      border-radius: 5px;
      font-size: 16px;
    }
  }

  .top {
    input {
      width: 100%;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    button {
      width: 100px;
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: rgba(var(--yellow-primary-rgb), 0.638);

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}