.item {
    display: flex;
    gap: 15px;
    background-color: white;
    min-width: max-content;
    min-height: max-content;
    padding: 10px 25px 10px 10px;
    border-radius: 5px;
    position: relative;
    ;

    img {
        width: 80px;
        height: 56px;
        object-fit: cover;
        border-radius: 5px;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50px;

        h2 {
            font-size: 13px;
            color: var(--primary-color);

            transition: all 0.4s ease;

            &:hover {
                scale: 1.01;
            }


        }

        span {
            font-size: 12px;
        }

        b {
            font-size: 12px;
        }
    }

    .close {
        position: absolute;
        padding: 5px;
        top: 2px;
        right: 2px;
        cursor: pointer;

        &:hover{
            background-color: black;
            color: white;
            border-radius: 5px;
        }
    }
}