:root {
    --background-color-secundary: #fcf5f3;
    --yellow-primary: #fece51;
    --black-primary: #000000;
    --white-primary: #FFFFFF;
    --primary-color: #3498db;
    --gray-primary: #999;
  }